* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0f1a;
  color: #f1f5f9;
  font-family: 'Inter', sans-serif;
}

.member-card {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.match-card {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: "pointer";
  color: black;
}

.match-partecipant-card {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  color: black;
}